*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo:ital,wght@1,500&family=Assistant:wght@200&family=Barlow&family=Barlow+Condensed:wght@400;700&family=Hanalei+Fill&family=Kanit:ital,wght@1,800&family=Kenia&family=Skranji:wght@700&display=swap');
:root{
    --main-background-color:#A693F3;
    --profile-border-color:#999DF6;
    --profile-background-color:#F5F5F5;
    --profi-decription-bg-color:#FBFEFF;
    --hello-section-fonts:Inter;
    --profile-description-font:Ledger;
    --contact-back-Color:#D9D9D9;
    --log-font:Lemon;
    --section-even-background-color:#F9F7F7;
    --section-odd-backcolor:#D9D9D9;
    --base-font:Ledger;
}
.section{
    height:100vh;
}
.nav-home-container{
    position: relative;
    background-color: var(--main-background-color);
    height:70vh;
    box-shadow:0 6px 2px -2px var(--main-background-color);
}
.nav-bar{
    position: sticky;
    top:0;
    margin:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-background-color);
}
#logo{
margin-left:2rem;
padding:1.3rem;
}
#logo img{
   height:2rem;
}
.menus{
    font-family: var(----hello-section-fonts);
    font-weight: 500;
    margin-right:3rem;
}
.menus ul li{
    float:left;
    color:white;
    padding:1.5rem;
    list-style: none;
}
.menus ul li a{
    text-decoration: none;
    color:white;
    transition: all 300ms ease-in;
}
a:hover{
    font-size:20px;
    font-weight:bold;
}
.home-contents{
    background-color: var(--profi-decription-bg-color);
    display:flex;
    flex-direction: row;
    gap:5rem;
    margin-top:5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    border-radius: 11px;
    box-shadow:0 6px 2px -2px var(--profile-border-color);
}
.profile-container{
    border-bottom:5px solid var(--profile-border-color);
    border-left:5px solid var(--profile-border-color);
    border-top:5px solid var(--profile-border-color);
    border-right:1px solid gainsboro;
    border-radius: 12px;
    box-shadow: inset 10px 10px 10px 10px gainsboro;
}
.profile-container img{
    width:20rem;
    border-radius: 11px;
    background-color:var(--profile-background-color);
    margin-bottom: -4px;
}
.profile-decription{
 width:30rem;
 margin-top: 5rem;
}
.profile-decription h6{
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    margin-left: 8rem;
    text-shadow: 1px 1px 2px #000000;
}
.profile-decription h1{
    font-family: Inter;
    font-weight: 300;
    font-size: 2rem;
    text-shadow: 1px 1px 2px #000000;
    opacity: 80%;
    }
    .profile-decription p{
        margin-top: 3rem;
        font-size: 20px;
        width:20rem;
        text-shadow:0.5px 0.5px 1px #000000;
        opacity:70%;
    }
    .profile-decription button{
        background-color: var(--main-background-color);
        height:2rem;
        width:8rem;
        font-family:Ledger;
        color:white;
        font-size: 14px;
        border-radius: 4px;
        border:4px solid var(--profile-border-color);
        margin-top: 2rem;
        margin-left:3rem;
        transition: all 300 ms ease;
    }
  button:hover{
    background-color: blue;
    font-weight: bold;
  }
  #about{
    background-color: var(--section-even-background-color);
  }
  .about{
    display:flex;
    flex-direction: row;
    gap:4rem;
    font-family: var(--base-font);
    margin-left: 15rem;
    margin-right: 15rem;
    padding-top:3rem;
  }
  .img-container{
   border-left:10px solid var(--profile-border-color);
   border-top:10px solid var(--profile-border-color);
   width:17rem;
   border-radius: 20px;
   margin-top:5rem;
   height: 22rem;
  }
  .img-container img{
    width:17rem;
    border-radius: 20px;
  }
  .about-description{
    margin-left: 20px;
  }
  .about-description h1{
    margin-left: 5rem;
    font-weight: 400;
    font-size: 50px;
    opacity: 95%;
  }
  h1>span{
    border-bottom: 2px solid black;
    margin-right:20px;
    border-radius: 3px;
  }
  .about-description>h3{
    margin-top:2rem;
    color:var(--profile-border-color);
    font-size: 28px;
  }
  .about-description>p{
    margin-top:2rem;
    font-size: 22px;
    opacity:80%;
  }
  .address{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  .address1,.address2{
    display: flex;
    flex-direction: column;
    gap:1px;
    align-items: center;
    opacity:80%;
  }
  .in{
    background-color: black;
    opacity: 80%;
    padding-left: 2px;
    padding-right: 2px;
    color:white;
    font-weight: bolder;
  }
  hr{
    margin-top: 2rem;
    height:5px;
    border-radius: 5px;
    background-color:gray;
    opacity:80%;
  }
  .about-description>button{
    padding:10px 40px 10px 40px;
    border-radius:20px;
    background-color: var(--main-background-color);
    border: none;
    margin-left: 10rem;
    margin-top:1rem;
    color:white;
  }
  .about-description>button:hover{
  background-color:blue;
  color:bold;
    }
    #portifolio{
      background-color: var(--section-odd-backcolor);
    }
    .section-title{
      margin-left: 15rem;
      font-weight: Karla;
      opacity:70%;
      padding-top: 1rem;
    }
    .section-title>h2{
      font-weight: 600;
      font-size: 40px;
    }
    .projects{
      display:flex;
      margin-top: 2.2rem;
      margin-left: 15rem;
      margin-right: 15rem;
      flex-direction: row;
      gap: 5rem;
    }
    .project-img img{
      width:15rem;
    }
   .project-description{
    font-family: var(--profile-description-font);
    font-size: 18px;
    width:25rem;
    margin-top: 2.6rem;
   }
   .project-description h3{
    color:blue;
    opacity:80%;
    font-weight: 300;
    margin-left: 5rem;

       }
      .project-description p{
        width: 22rem;
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-top: 2rem;
              }
      .project-description>button{
        padding:10px 50px 10px 50px;
        border-radius:20px;
        background-color: var(--main-background-color);
        border: none;
        margin-left: 6rem;
        margin-top:2rem;
        color:white;
      }
      #skills{
        background-color: var(--profile-background-color);
      }
      .sectionskills-title{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-top:3rem;
        align-items: center;
        font-family: var(--hello-section-fonts) ;
      }
      .sectionskills-title >h1{
        font-size: 50px;
        font-weight: 900;
        color:black;
        opacity:70%;
        letter-spacing: -4px;
      }
      .sectionskills-title >h2{
        font-size: 30px;
        font-weight: 700;
        opacity:80%;
      }
      .sectionskills-title >h6{
        font-size: 15px;
        font-weight: 700;
        opacity:80%;
      }
      .skills-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:2rem;
        margin-left: 15rem;
        margin-right: 15rem;
        margin-top: 6rem;
        font-family: var(--profile-description-font);
      }
      #ui{
        background-color: var( --contact-back-Color);
        }
        .ui-card{
          background-color: blue;
          opacity:73%;
          padding:2rem;
          border-bottom-right-radius: 8rem;
          border-left: 4px solid var(--contact-back-Color);
          border-right: 4px solid var(--contact-back-Color);
        }
        .ui-card>h1{
          font-size: 48px;
          color:white;
          font-weight: 400;
        }
        .ui-card>h6{
          font-size: 22px;
          color:white;
          font-weight: 400;
        }

        .ux-footer{
         display: flex;
         gap:10px;
         margin-top: 20px;
        }
        .ux-footer >a{
          font-size: 20px;
          color:white;
          font-weight: 400;
          text-decoration: none;
          margin-top:2.5rem;
        }
        .ux-footer >img{
          width:5rem;
        }