*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo:ital,wght@1,500&family=Assistant:wght@200&family=Barlow&family=Barlow+Condensed:wght@400;700&family=Hanalei+Fill&family=Kanit:ital,wght@1,800&family=Kenia&family=Skranji:wght@700&display=swap');
:root{
    --main-background-color:#A693F3;
    --profile-border-color:#999DF6;
    --profile-background-color:#F5F5F5;
    --profi-decription-bg-color:#FBFEFF;
    --hello-section-fonts:Inter;
    --profile-description-font:Ledger;
    --contact-back-Color:#D9D9D9;
    --log-font:Lemon;
    --section-even-background-color:#F9F7F7;
    --section-odd-backcolor:#D9D9D9;
    --card-bg-color:#B6B9FB;
    --base-font:Ledger;
}
.section{
    height:100vh;
    z-index:1;
    margin:0;
    padding: 0;
    }
 #home{
  margin:0;
  padding:0;
 }
.nav-home-container{
    position: relative;
    background-color: var(--main-background-color);
    height:50vh;
    box-shadow:0 6px 2px -2px var(--main-background-color);
}
.nav-bar{
    position: sticky;
    top:0;
    margin:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-background-color);
    z-index: 2;
}
.nav-bar #logo{
margin-left:2rem;
padding:1.3rem;
}
 #logo img{
   height:2rem;
}
.menus{
    font-family: var(----hello-section-fonts);
    font-weight: 500;
    margin-right:7vw;
}
.menus ul li{
    float:left;
    color:white;
    padding:1.5rem;
    list-style: none;
}
.menus ul li a{
    text-decoration: none;
    color:white;
    transition: all 300ms ease-in;
    font-size: 2.5vh;
}
a:hover{
    font-size:20px;
    font-weight:bold;
}
.home-contents{
    position: absolute;
    top:22vh;
    background-color: var(--profi-decription-bg-color);
    display:flex;
    flex-direction: row;
    gap:5rem;
    margin-left: 17vw;
    margin-right: 20vw;
    border-radius: 11px;
    box-shadow:0 6px 2px -2px var(--profile-border-color);
}
.profile-container{
    border-bottom:5px solid var(--profile-border-color);
    border-left:5px solid var(--profile-border-color);
    border-top:5px solid var(--profile-border-color);
    border-right:1px solid gainsboro;
    border-radius: 12px;
    box-shadow: inset 10px 10px 10px 10px gainsboro;
}
.profile-container img{
    width:24vw;
    border-radius: 11px;
    background-color:var(--profile-background-color);
    margin-bottom: -4px;

}
.menu-icon{
  color:white;
  margin-top: 4vh;
  visibility:hidden;
}
.profile-decription{
  position: relative;
 width:30vw;
 margin-top: 5vw;
 height:50vh;
}
.profile-decription h6:nth-child(odd){
    font-family: Inter;
    font-weight: 400;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;
    margin-left: -3vw;
    margin-bottom: 2vh;
    text-shadow: 1px 1px 2px #000000;
}
.profile-decription span{
    font-family: Inter;
    font-weight: 300;
    font-size: 2rem;
    text-shadow: 1px 1px 2px #000000;
    opacity: 80%;
    }
    .profile-decription p{
        margin-top: 3vw;
        font-size: 3vh;
        width: 23vw;
        text-shadow:0.5px 0.5px 1px #000000;
        opacity:70%;
    }
    .profile-decription button{
        background-color: var(--main-background-color);
        height:2rem;
        width:8rem;
        font-family:Ledger;
        color:white;
        font-size: 14px;
        border-radius: 4px;
        border:4px solid var(--profile-border-color);
        margin-top: 2rem;
        margin-left:3rem;
        transition: all 300 ms ease;
    }
  button:hover{
    background-color: blue;
    font-weight: bold;
  }
  #about{
    background-color: var(--section-even-background-color);
    margin:0vw;
    padding: 0vh;
  }
  .about{
    display:flex;
    flex-direction: row;
    gap:4vw;
    font-family: var(--base-font);
    margin-left: 17vw;
    margin-top: -3vh;
    margin-right: 20vw;
     }
  .img-container{
   border-left:10px solid var(--profile-border-color);
   border-top:10px solid var(--profile-border-color);
   width:17vw;
   border-radius: 20px;
   margin-top:5rem;
   height: 45vh;
  }
  .img-container img{
    width:17vw;
    border-radius: 20px;
  }
  .about-description{
    margin-left: 4vw;
  }
  .about-description h1{
    margin-left: 5vw;
    font-weight: 400;
    font-size: 8vh;
    opacity: 95%;
  }
  h1>span{
    border-bottom: 2px solid black;
    margin-right:20px;
    border-radius: 3px;
  }
  .about-description>h3{
    margin-top:2rem;
    color:var(--profile-border-color);
    font-size: 4vh;
  }
  .about-description>p{
    margin-top:2rem;
    font-size: 3vh;
    opacity:80%;
  }
  .address{
    display: flex;
    justify-content: space-around;
    margin-top: 7vh;
  }
  .address1,.address2{
    display: flex;
    flex-direction: column;
    gap:1px;
    align-items: center;
    opacity:80%;
  }
  .in{
    background-color: black;
    opacity: 80%;
    padding-left: 2px;
    padding-right: 2px;
    color:white;
    font-weight: bolder;
  }
  hr{
    margin-top: 6vh;
    height:5px;
    border-radius: 5px;
    background-color:gray;
    opacity:80%;
  }
  .about-description>button{
    padding:10px 40px 10px 40px;
    border-radius:20px;
    background-color: var(--main-background-color);
    border: none;
    margin-left: 10vw;
    margin-top:1rem;
    color:white;
  }
  .about-description>button:hover{
  background-color:blue;
  color:bold;
    }
    #portifolio{
      background-color: var(--section-odd-backcolor);
      margin: 0;
      padding: 0;
    }
    .section-title{
      margin-left: 20vw;
      font-weight: Karla;
      opacity:70%;
      padding-top: 5vh;
    }
    .section-title>h2{
      font-weight: 600;
      font-size: 4vh;
    }
    .projects{
      display:flex;
      margin-top: 5vh;
      margin-left: 20vw;
      margin-right: 20vw;
      flex-direction: row;
      gap: 5vw;
    }
    .project-img img{
      width:17vw;
    }
   .project-description{
    font-family: var(--profile-description-font);
    font-size: 18px;
    width:25vw;
    margin-top: 2.6vh;
   }
   .project-description h3{
    color:blue;
    opacity:80%;
    font-weight: 300;
    margin-left: 5vh;

       }
      .project-description p{
        width: 22vw;
        display: flex;
        align-items: center;
        font-size: 3vh;
        margin-top: 2vw;
              }
      .project-description>button{
        padding:10px 50px 10px 50px;
        border-radius:20px;
        background-color: var(--main-background-color);
        border: none;
        margin-left: 6rem;
        margin-top:2rem;
        color:white;
      }
      #skills{
        background-color: var(--profile-background-color);
        margin:0vw;
        padding: 0vh;
      }
      .sectionskills-title{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-top:5vh;
        align-items: center;
        font-family: var(--hello-section-fonts) ;
      }
      .sectionskills-title >h1{
        font-size: 7vh;
        font-weight: 900;
        color:black;
        opacity:70%;
        letter-spacing: -4px;
      }
      .sectionskills-title >h2{
        font-size: 4vh;
        font-weight: 700;
        opacity:80%;
      }
      .sectionskills-title >h6{
        font-size: 3vh;
        font-weight: 700;
        opacity:80%;
      }
      .skills-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 40vh;
        gap:2rem;
        margin-left: 33vh;
        margin-right: 33vh;
        margin-top: 6vh;
        font-family: var(--profile-description-font);
      }
      #ui{
        background-color: var( --contact-back-Color);
        }
        .ui-card{
          background-color: blue;
          opacity:73%;
          padding:2vh;
          border-bottom-right-radius: 8rem;
          height: 50vh;
          border-left: 4px solid var(--contact-back-Color);
          border-right: 4px solid var(--contact-back-Color);
        }
        .ui-card>h1{
          font-size: 5vh;
          color:white;
          font-weight: 400;
        }
        .ui-card>h6{
          font-size: 3vh;
          color:white;
          font-weight: 400;
        }

        .ux-footer{
         display: flex;
         gap:5vh;
         margin-top: 20vh;
        }
        .ux-footer >a{
          font-size: 3vh;
          color:white;
          font-weight: 400;
          text-decoration: none;
          margin-top:3vh;
        }
        .ux-footer >img{
          width:8vw;
        }
        .webdev-card{
          background-color:var(--card-bg-color);
          opacity: 89%;
          border:4px solid var(--card-bg-color);
          padding:5vh;
          border-radius: 1rem;
          box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
          }
          .webdev-card>h1{
            font-size: 5vh;
            opacity:80%;
            font-weight: 500;
          }
          .webdev-card>h6{
            font-size: 3vh;
            opacity:80%;
            margin-top: 5vh;
            font-weight: 700;
            margin-bottom: 4vh;
          }
          .webdev-card>a,.database-card>a{
            font-size: 3vh;
            font-weight: 700;
            text-decoration: none;
            color:blue;
            opacity:60%;
            margin-left: 12vh;
               }
               .database-card{
                position: relative;
                background-color:var(--card-bg-color);
                opacity: 89%;
                border:4px solid var(--card-bg-color);
                padding:5vh;
                border-radius: 1rem;
                box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
                }
               .database-card>h1{
                font-size: 5vh;
                opacity:80%;
                font-weight: 400;
               }
               .database-card>h6{
                font-size: 3vh;
                opacity:80%;
                margin-top: 5vh;
                font-weight: 700;
                margin-bottom: 4rem;
              }
              .database-card>hr,.webdev-card>hr{
                width:10vw;
                height:10px;
                margin-left: 50%;
               margin-top: -5.5vh;
               background-color:blue;
               opacity:30%;
              }
              .webdev-card>hr{
                background-color:#A61F1F;
                opacity:38%;
                }
              #contact{
                background-color: var(--section-odd-backcolor);
                font-family: var(--profile-description-font);
              }
              .contact-title{
                display:flex;
                flex-direction: column;
                align-items: center;
                padding-top: 6vh;
              }
              .contact-title>h1{
                font-family: Lato;
                font-weight: 300;
                font-size: 6vh;
                opacity:70%;
              }
              .contact-title>h6{
                font-weight: 3vh;
                font-size: 18px;
                opacity:80%;
              }
              .contact-intro{
                width:30vw;
                margin-top: 4vh;
                margin-left: 34%;
                font-size: 2.6vh;
              }
              .contact-intro>p{
                opacity:90%;
                text-align: center;
              }
              .contact-intro>hr{
                margin-top: -0.2vh;
                width: 34rem;
                margin-left: -1rem;
              }
              .contact-body{
                margin-left: 20vw;
                margin-top: 6vh;
                display: flex;
                flex-direction: row;
                gap:8rem;
              }
              .fields{
                margin-top: 2vh;
                font-size: 3vh;
                font-weight: 300;
                opacity: 80%;
              }
              .inputs{
                border: none;
                background-color: var(--section-odd-backcolor);
                border-bottom: 2px solid gray;
                width: 30vw;
                box-shadow: inset 1px 1px 1px lightgray;
              }
              .inputs:focus{
              outline: none;
              }
              .fields>button{
                margin-left:20rem;
                width:20vh;
                height:4vh;
                background-color: var(--main-background-color);
                text-transform: uppercase;
                color:white;
                font-weight: 500;
                border:none;
                border-radius: 10px;
              }
              .fields>button:hover{
                background-color: blue;
                opacity:50%;
              }
              .contact-box{
                margin-top: 5vh;
                }
              .contact-box>h1{
                font-weight: 300;
                font-size: 3vh;
                margin-left: 2vw;
              }
              .contact-box>p{
                text-align: center;
                margin-bottom: 2vh;
                font-size: 2vh;
              }
              .icons{
                display: flex;
                flex-direction: row;
                gap:1rem;
              }
              #blogs{
                background-color: #EFEBEB;
                height: 120vh;
                }
                .container{
                  margin-top: 7vh;
                }
              .blog{
                margin-top: 2vh;
                margin-left: 20vw;
                display: flex;
                flex-direction:row;
                gap:4rem;
                padding-bottom: 2vw;
              }
              .blog>img{
                width:20vw;
                height: 20vh;
              }
              .blog-description{
                display: flex;
                flex-direction: column;
                gap:1rem;
              }
             .topic{
              background-color: green;
              color:white;
              font-weight: 500;
              width: 10vw;
              padding-left: 0.8rem;
              font-size: 2.5vh;
             }
             .blog-description>h1{
              font-size: 4vh;
              font-weight: 700;
             }
             .blog-description>p{
              font-size: 3vh;
              opacity: 80%;
              width: 20rem;
             }
             .footer{
              height: 20vh;
              background-color: var(--main-background-color);
              display: flex;
              gap:10rem;
              padding-left: 15rem;
              padding-top:2rem;
             }
             .logo>img{
              width:8vw;
              margin-top: 4vh;
             }
             .footer .menu ul li{
              list-style: none;
              padding-top:2vh ;
             }
             .footer .menu ul li a{
              text-decoration: none;
              color:white;
              font-weight: 500;
             }
             .subscribe>form{
              display: flex;
              flex-direction: column;
              gap:3px;
             }
            .subscribe>form p{
              font-family: var(--hello-section-fonts);
              font-size: 3vh;
              font-weight: 600;
            }
            .subscribe> form input[type="text"],.subscribe> form button{
               width: 14vw;
               height:3vh;
               background-color: white;
               border: none;
            }
            .subscribe> form button{
              background-color: green;
              color:white;
              font-weight: 700;
              }
/*media queries*/
@media(max-width:600px){
  .menus{
    display:none;
  }
  .menu-icon{
    visibility:visible;
    margin-right: 10vw;
    margin-top:3vh;
  }
  #logo img{
    height:3vh;
 }
 .home-contents{
  position: absolute;
  display: flex;
  flex-direction: column;
  top:5vh;
  gap:2vh;
  margin-left: 10vw;
  width: 80vw;
  height:65vh;
   }
   .profile-container{
    border:none;
    box-shadow: inset 1px 1px 1px 1px white;
}
.profile-container img{
    width:40vw;
    height:25vh;
    border-radius: 0;
    margin-left:20vw;
}
.profile-decription{
position: relative;
 width:70vw;
 margin-top: 1vw;
 height:50vh;
}
.profile-decription h6:nth-child(odd){
  display: block;
  font-size: 2.4vh;
  margin-left: 1vw;
  text-align: center;
  text-shadow: none;
 }
.profile-decription>h6 span{
  font-size:3vh;
  margin-left:2vw;
  font-weight: 700;
  text-shadow: none;
}
.profile-decription p{
  font-size: 2.4vh;
  width: 70vw;
  text-shadow:none;
  opacity:70%;
  margin-left: 4vw;
}
.nav-home-container{
  height:40vh;
  }
  .img-container{
    display: none;
  }
  .about{
    margin-left: 10vw;
    margin-top: -20vh;
    font-size: 1.5vh;
  }
  .about-description{
    margin-left: 1vw;
  }
  .about-description h1{
   font-size: 4vh;
    opacity: 95%;
  }
  h1>span{
    border-bottom: 2px solid black;
    margin-right:20px;
    border-radius: 3px;
  }
  .about-description>h3{
    font-size: 3vh;
  }
  .about-description>p{
    margin-top:1rem;
    font-size: 2vh;
      }
      .address{
        display: flex;
        justify-content: space-around;
        margin-top: 3vh;
      }
      hr{
        margin-top: 4vh;
        height:3px;
        border-radius: 3px;
      }
      .about-description>button{
        padding:5px 20px 5px 20px;
        border-radius:10px;
        background-color: var(--main-background-color);
        margin-left: 15vw;
      }
      #portifolio{
       margin-top: -40vh;
       height:80vh;
      }
      .projects{
        display: flex;
        flex-direction: column;
      }
      .projects:nth-child(2){
        display:none;
      }
      .project-img img{
        width:50vw;
      }
     .project-description{
      font-family: var(--profile-description-font);
      font-size: 2vh;
      width:60vw;
      margin-top: 1vh;
     }
     .project-description h3{
      margin-top: -3vh;
      }
     .project-description p{
      width: 70vw;
      font-size: 2.4vh;
      }
      .project-description>button{
        padding:2px 30px 2px 30px;
        border-radius:5px;
        margin-top:2vh;
        }
        .sectionskills-title>h1{
          font-size: 4vh;
        }
        .sectionskills-title>h2{
          font-size: 2.4vh;
        }
        .sectionskills-title>h6{
          font-size: 2vh;
        }
       .skills-cards{
        display: flex;
        flex-direction: column;
        margin-left: 10vw;
        margin-top: 20vw;
       }
       #ui{
        width:80vw;
       }
       .ui-card{
        width:80vw;
       }
       .ux-footer{
        display: flex;
        gap:5vh;
        margin-top: 20vh;
       }
       .webdev-card,.database-card{
        display: none;
       }
       .contact-title>h1{
        font-size: 4vh;
       }
       .contact-title>h6{
        font-size: 2.5vh;
       }
       .contact-intro p,.contact-intro hr{
        width:80vw;
        margin-left: -20vw;
        font-size: 2vh;
       }
       .contact-body{
        display:flex;
        flex-direction: column;
        gap:1vh;
       }
        #contact{
          margin-top: -10vh;
        }
       .form-data .inputs{
        margin-top:0vh;
        width:60vw;
       }
       .fields button{
        margin-left: 0vw;
        font-size: 2vh;
       }
       .contact-box h1{
        margin-top: -3vh;
        margin-left: 15vw;
        font-weight: 600;
        font-size: 2vh;
        margin-bottom: 2vh;
       }
       .contact-box p{
        margin-top: -1vh;
        margin-right: 25vw;
       }
       .icons{
        margin-left:5vw;
       }
       .icon-fb img,.icon-linkedin img{
        width:10vw;
       }
       .icon-insta img{
        width:13vw;
       }
       .blg{
        width:65vw;
        text-align: center;
        font-size: 2vh;
       }
       .blog{
        gap:2vh;
        margin-left: 15vw;
       }
       #blogs{
        height:80vh;
       }
       .blog img{
        width:24vw;
        height:13vh;
       }
       .blog-description .topic{
        font-size: 2vh;
        width: 25vw;
        }
       .blog-description h1{
        font-size: 2.4vh;
        margin-top: -2vh;
       }
       .blog-description p{
        margin-top: -2vh;
        font-size: 2vh;
        width:50vw;
       }
       .logo>img{
        display: none;
       }
       .footer{
        gap:18vh;
        }
       .footer .logo{
        margin-left:-75vw;
       }
       .footer .logo{
        margin-left:-75vw;
       }
       .footer .menu{
        margin-left:-30vw;
        font-size: 2vh;
       }
       .subscribe{
        margin-left: -28vw;
       }
       .footer .menu ul li{
        list-style: none;
        padding-top:1vh ;
       }
        .subscribe form p{
          font-size: 2vh;
          opacity:70%;
        }
        .subscribe form input[type="text"]{
          height:2vh;
          width:25vw;
           }
           .subscribe form button{
            height:2vh;
            width:25vw;
            font-size: 2vh;
            font-weight: 300;
             }
      }
